{% extends './layout.html' %}
  {% block content %}
    <form method='POST' action='/employees'>
           <br />
      <h5>Add an Employee</h5>
      <strong>Employee Email (must be a valid email):</strong>
      <input name='email' placeholder="email" />
      <br />
      <strong>Set Manager:</strong>
      <select name='managerId'>
        <option value='-1'>None</option>

        {% for employee in employees %}
        <option value='{{ employee.id }}'>{{ employee.name }}</option>
        {% endfor %}
      </select>
        <br />
      <button>Create Employee</button>
    </form>
    <ul>
      {% for employee in employees %}
      <li>
        {{ employee.email }}
        <br />
        Email Provider: {{ employee.emailProvider }}
        <br />
        name: {{ employee.name }}
        <br />
        manager: {{ employee.name }}
      </li>
      {% endfor %}
    </ul>

      {% endblock %}
